build/**
!build/reports
build/reports/**
!build/reports/jacoco/
build/reports/jacoco/**
!build/reports/jacoco/test/
build/reports/jacoco/test/**
!build/reports/jacoco/test/html

.gradle/
.nb-gradle/
.nbproject/
**/saved_bookmarks.txt
